body{
    background-color: #fff;
}
#container{
    display: grid;
    margin: auto;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 8fr 1fr;
    gap: 10px;

}
.header{
    
    grid-column: 1/4;
    justify-content: center;

}
.nav{
   
    grid-column: 1/2;
    
    

}
.nav ul{
    color: black;
    padding-left: 0%;
    
}
.nav li{
    list-style: none;
}
.nav li a{
    color: black;
    text-decoration: none;
    

}
.article{
    
    grid-column: 2/4;
    flex-direction: column;
    

}
.article h1{
    text-align: center;
}

.article img{
    width: 35%;
}
.footer{
    
    grid-column: 1/4;


}

.flexbox{
    display: flex;    
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}