
h1{
    font-size: 2vw;
    text-align: center;
}
.Sol1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    width: 70%;


}
.Sol2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}
/*.SolDo1{
    display: block;
    margin-left: 10%;
    margin-right: auto;
    width: 25vw;    
   
    
}
.SolDo2{
   display: block; 
   margin-left: auto;
   margin-right: auto; 
   width: 100%;    
}
.DoMiSol1{
    display: block;
    margin-left: 10%;
    margin-right: auto;
    width: 30vw;
    

}
.DoMiSol2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.DoReMiSol1{
    display: block;
    margin-left: 10%;
    margin-right: auto;
    width: 40vw;
    
}
.DoReMiSol2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.DoReMiFaSol1{
    display: block;
    margin-left: 10%;
    margin-right: auto;
    width: 50vw;
    
    
}
.DoReMiFaSol2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}*/
p{
    font-size: 30px;
    text-align: center;
    margin: 0%;
    padding: 0%;
}
a{
    
    font-size: 2vw;
}