code{
    font-size: 2vw;
    overflow-x: auto;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(203, 191, 215);
    
    
}
h1{
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    margin-top: 0; 
    font-size: 6.5vh;
    width: 75vw;    
    text-align: center;    
    color: rgb(163, 39, 39);    
    vertical-align: middle;
}


.lienfinal a{
        
    display: inline-block;    
    font-size: 6vb;
    text-decoration: none;
    color: rgb(163, 39, 39);
    margin-right: 82vh;
    }

.container{    
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
    flex-direction: column;
    gap:10px;
    
    
    
}
.lien {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;    
    background-color: rgb(62,62,132);
    width: 75vw;
}
.lien a{
    text-decoration: none;
    color: greenyellow;
    margin-left: auto;
    margin-right: auto;
    font-size: 6vh;

}

.partition img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.retour {
    font-size: 100px;
}
.footer {
    background-color: rgb(203, 191, 215);
    grid-column: 1/5;
    grid-row: 5/6;
}


               

/* smartphone paysage */
/* tablette portrait*/
@media screen and (max-width:1100px) {
    .lien a{
        font-size: 3vh;
    }
    .lien{
        margin-bottom: 4px;
    }
}

/*smartphone portrait*/
@media screen and (max-width:600px) {
    


}
