body{
    padding: 0;
    margin: 0;
    background-color: rgb(203, 191, 215);
    
    
}
h1{
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    margin-top: 0; 
    font-size: 6.5vh;
    width: 75vw;    
    text-align: center;    
    color: rgb(163, 39, 39);    
    vertical-align: middle;
}


.lienfinal a{
        
        font-size: 6vb;
        text-decoration: none;
        color: rgb(206, 181, 181);
        margin-right: 10vh;
    }

.container{    
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
    flex-direction: column;
    gap:10px;
    
    
    
}
.lien {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;    
    background-color: rgb(62,62,132);
    width: 75vw;
}
.lien a{
    text-decoration: none;
    color: greenyellow;
    margin-left: auto;
    margin-right: auto;
    font-size: 6vh;

}

.partition img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.retour {
    font-size: 100px;
}
.footer{
    display: flex;
    flex-direction: row;
    padding-left: 1vw;
}
.footer a{
    font-size: 2vw;
    text-decoration: none;
    padding-left: 1vw;

}


                /* media query pour tablette */
 @media screen and (min-height: 1090px)  { 
    .lien{
        
        margin-bottom: 10px;

    }
    h1{
        font-size: 5.5vh;
    }
    .lien a{
        font-size: 5vh;
    }
    .container{
        gap: 0;
    }
    
}
                /* media query pour tablette orientation paysage */
@media screen and (max-width: 1285px) and (orientation: landscape)  {
    .lien a{
        font-size: 6vh;
        
    }
    h1{
        font-size: 6.5vh;
    }
    .lien{
        margin-bottom: 10px;
    }
    .container{
        gap: 0;
    }
    
}
                /* mediaquery smartphone */
@media screen and (max-width: 420px) and (max-height: 920px){
    .lien a{
        font-size: 4vh;
    }
    h1{
        font-size: 4.5vh;
        width: 100vw;
    }
    .lien{
        width: 100vw;
    }
}
                /* mediaquery smartphone orientation paysage */
@media screen and (max-width: 920px) and (max-height: 420px){
    .lien a{
        font-size: 8vh;
    }
    h1{
        font-size: 10.5vh;
    }
}



